{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Qui sommes nous?{% endblock %}

{# Ici vous mettez vos codes HTML et balises Twig au besoin #}
{% block body %}

    <section class="about" id="about">
        <div class="container">
            {% for value in qsn %}
                {% if value.section == "qsn-1" %}
                    <div class="heading text-center">
                        <h2>{{ value.titre }}
                            <span>{{ value.libelle }}</span></h2>
                        <p> {{ value.text }}  </p>
                    </div>
                {% endif %}
                <div class="row">
                    {% if value.section == "qsn-2" %}
                        <div class="col-lg-6">
                            <img src="{{ value.image }}" alt="about" class="img-fluid" width="100%">
                        </div>
                        <div class="col-lg-6">
                            <h3>{{ value.titre }} </h3>
                            <p> {{ value.text }}</p>

                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="sectionAbout">

        {% for value in qsn %}
            {% if value.section == "CEO" %}
                <div class="person">
                    <div class="containerss">

                        <div class="container-inner" style="width: 100%!important;">
                            <img
                                    class="circle"
                                    src="{{ value.image }}"
                            />

                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="name">{{ value.titre }}</div>
                    <div class="titles">{{ value.libelle }}</div>
                </div>
            {% endif %}
        {% endfor %}
        {#    <div class="person">
            <div class="containerss">
                <div class="container-inner-QSN">
                    <img  class="circle" src="assets/img/marc.jpg"  />

                </div>
            </div>
            <div class="divider"></div>
            <div class="name">xxxx</div>
            <div class="titles">Comptable</div>
        </div>

        <div class="person">
            <div class="containerss">
                <div class="container-inner-QSN">
                    <img  class="circle" src="assets/img/marie.jpg"  />

                </div>
            </div>
            <div class="divider"></div>
            <div class="name">Nour Hached </div>
            <div class="titles">conseillère commerciale</div>
        </div> #}

    </section>
    <section class="temoignages">
        <h4 style="text-align: center" class="title">Témoignages:</h4>
        <div class="avis">
            <ul class="grid-testimonials">
                {% for value in qsn %}
                    {% if value.section == "temoignage" %}
                        <li>
                            <div><p>
                                    {{ value.text }}</p>
                                <span class="quote-arrow"></span></div>
                            <span class="grid-testimonials-citation">{{ value.titre }}</span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}

